<!-- file created by Hamilton Nguyen -->
<!--reference from   Huang, L., Zhao, H., Implementation of UR5 pick and place in ROS-Gazebo with a USB cam and vacuum grippers, (2018), GitHub repository, https://github.com/lihuang3/ur5_ROS-Gazebo.git-->

<?xml version="1.0"?>
<model>
  <name>Conveyor belt</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Carlos Aguero</name>
   <email>caguero@osrfoundation.org</email>
  </author>

  <description>
    Conveyor belt.
  </description>
</model>